GEMINI_API_KEY="AIzaSyAz4kKsl-5bq4xHLpXbhTH18zH5wUixA-U"
APP_URL="http://localhost:3000" # Gunakan localhost saat pengembangan
DATABASE_URL="postgresql://postgres.rlsfwvzntugxcgomrmmm:J4CSdGvXxrwbH85o@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres"